Source: https://codes.ohio.gov/ohio-revised-code/section-3701.248
Scraped: 2026-07-02T19:50:52+00:00

# Section 3701.248 - Emergency medical or funeral services worker exposed to contagious or infectious disease may request notice of test results.

**Effective:** September 10, 2012

**Latest Legislation:** House Bill 487 - 129th General Assembly

(A) As used in this section:

(1) "Contagious or infectious disease" means a disease specified in rules adopted by the director of health pursuant to division (F) of this section.

(2) "Patient" means either of the following:

(a) A person, whether alive or dead, who has been treated, or handled, or transported for medical care by an emergency medical services worker;

(b) A deceased person whose body is handled by a funeral services worker.

(3) "Significant exposure" means:

(a) A percutaneous or mucous membrane exposure of an individual to the blood, semen, vaginal secretions, or spinal, synovial, pleural, peritoneal, pericardial, or amniotic fluid of another person;

(b) Exposure to a contagious or infectious disease.

(4) "Funeral services worker" means a person licensed as a funeral director or embalmer under Chapter 4717. of the Revised Code or an individual responsible for the direct final disposition of a deceased person.

(B)(1) An emergency medical services worker or funeral services worker who believes that significant exposure has occurred through the worker's contact with a patient may submit to the health care facility or coroner that received the patient a written request to be notified of the results of any test performed on the patient to determine the presence of a contagious or infectious disease. The request shall include:

(a) The name, address, and telephone number of the individual submitting the request;

(b) The name of the individual's employer, or, in the case of a volunteer emergency medical services worker, the entity for which the worker volunteers, and the individual's supervisor;

(c) The date, time, location, and manner of the exposure.

(2) The request for notification that is submitted by an emergency medical services worker pursuant to division (B)(1) of this section is valid for ten days after it is made. If at the end of that ten-day period no test has been performed to determine the presence of a contagious or infectious disease, no diagnosis has been made, or the result of the test is negative, the health care facility or coroner shall notify the emergency medical services worker. The notification shall not include the name of the patient. If necessary, the request may be renewed in accordance with the same procedures and requirements as the original request.

(3) A health care facility or coroner shall respond immediately to a request for notification submitted pursuant to division (B)(1) of this section by a funeral services worker. If no test has been performed to determine the presence of a contagious or infectious disease, no diagnosis has been made, or the result of a test that was performed is negative, the health care facility or coroner shall immediately notify the funeral services worker. The notification shall not include the name of the patient.

On receipt of notification that no test has been performed to determine the presence of a contagious or infectious disease in a patient, the funeral services worker may have a test performed on the patient. The test shall be performed in accordance with rules adopted by the department of health pursuant to division (G) of this section.

The consent of the patient's family is not required for performance of a test pursuant to division (B)(3) of this section.

(C) The health care facility or coroner that receives a written request for notification shall give an oral notification of the presence of a contagious or infectious disease, or of a confirmed positive test result, if known, to the person who made the request and the person's supervisor and to the infection control committee or other body described in division (E)(6) of section 3701.242 of the Revised Code within two days after determining the presence of a contagious or infectious disease or after a confirmed positive test result. A written notification shall follow oral notification within three days. If a contagious or infectious disease is present, or the test results are confirmed positive, both the oral and written notification shall include the name of the disease, its signs and symptoms, the date of exposure, the incubation period, the mode of transmission of the disease, the medical precautions necessary to prevent transmission to other persons, and the appropriate prophylaxis, treatment, and counseling for the disease. The notification shall not include the name of the patient.

If the request is made by an emergency medical services worker and the information is not available from the health care facility to which the request is made because the patient has been transferred from that health care facility, the facility shall assist the emergency medical services worker in locating the patient and securing the requested information from the health care facility that treated or is treating the patient. If the patient has died, the health care facility shall give the emergency medical services worker the name and address of the coroner who received the patient.

(D) Each health care facility and coroner shall develop written procedures to implement the notification procedures required by this section. A health care facility or coroner may take measures in addition to those required in this section to notify emergency medical services workers and funeral services workers of possible exposure to a contagious or infectious disease as long as the confidentiality of the information is maintained.

(E) No person shall knowingly fail to comply with division (C) of this section.

(F) The director of health shall adopt rules in accordance with Chapter 119. of the Revised Code that specify the diseases that are reasonably likely to be transmitted by air or blood during the normal course of duties performed by an emergency medical services worker or funeral services worker. In adopting such rules, the director shall consider the types of contact that typically occur between patients and emergency medical services workers and funeral services workers.

(G) The department of health shall adopt rules in accordance with Chapter 119. of the Revised Code specifying the procedures a funeral services worker must follow when having a test performed on a patient pursuant to division (B)(3) of this section. The rules shall specify how and by whom the test is to be performed. The rules shall require the funeral services worker or the funeral services worker's employer to pay the cost of the test. No health care facility shall be required to perform the test.
