Source: https://codes.ohio.gov/ohio-revised-code/section-147.49
Scraped: 2026-07-02T19:31:57+00:00

# Section 147.49 - Determination regarding acknowledgement or verification.

**Effective:** April 3, 2025

**Latest Legislation:** House Bill 315 - 135th General Assembly

(A) A notary public who takes an acknowledgment of a record shall determine, from personal knowledge or satisfactory evidence of the identity of the person acknowledging, that the person appearing before the notary public and making the acknowledgment has the identity claimed and that the signature on the record is the signature of the person.

(B) A notary public who takes a verification of a statement on oath or affirmation, a jurat, shall determine from personal knowledge or satisfactory evidence of the identity of the person making the verification, that the person appearing before the notary public and making the verification has the identity claimed and that the signature on the statement verified is the signature of the person.

Last updated February 21, 2025 at 10:58 AM
