Source: https://codes.ohio.gov/ohio-revised-code/section-703.38
Scraped: 2026-07-02T19:33:18+00:00

# Section 703.38 - Final audit.

**Effective:** April 30, 2024

**Latest Legislation:** House Bill 101 - 135th General Assembly

(A) On the date the transition period is over, the transition supervisory board shall notify the auditor of state and all entities affected by, or participating in, the dissolution that the transition period is over.

(B) Not later than thirty days after receiving the notice required under division (A) of this section, the auditor of state shall commence a final audit or final agreed-upon procedure audit. The auditor of state shall provide the completed final audit or final agreed-upon procedure audit to the transition supervisory board.

Last updated February 13, 2024 at 10:58 AM
