Source: https://codes.ohio.gov/ohio-revised-code/section-4732.151
Scraped: 2026-07-02T20:07:07+00:00

# Section 4732.151 - Fee for verification.

**Effective:** March 20, 2014

**Latest Legislation:** House Bill 83 - 130th General Assembly

The state board of psychology shall charge a fee of forty dollars to a license holder for the written verification of licensure status, including verification of the date of licensure, the presence or absence of a history of disciplinary action, and the expiration date of the license.
