Source: https://codes.ohio.gov/ohio-revised-code/section-4907.20
Scraped: 2026-07-02T20:09:05+00:00

# Section 4907.20 - Forms - completion and verification.

**Effective:** January 1, 1974

**Latest Legislation:** House Bill 511 - 109th General Assembly

A railroad receiving blank forms from the public utilities commission shall cause them to be properly filled, answering fully and correctly each question therein. In case it is unable to answer any question, such railroad shall give a good and sufficient reason for not answering it. Such answers shall be verified under oath by the proper officer of the railroad and returned to the commission within the time fixed by it.
