Source: https://codes.ohio.gov/ohio-revised-code/section-4151.02
Scraped: 2026-07-02T20:04:34+00:00

# Section 4151.02 - Employee verification.

**Effective:** March 20, 2026

**Latest Legislation:** House Bill 246 - 136th General Assembly

(A) Except as provided in division (C) of this section, no nonresidential construction contractor, subcontractor, or labor broker shall fail to verify the employment eligibility of each employee hired to perform work on a nonresidential construction project through the e-verify program. A nonresidential construction contractor shall use e-verify to confirm the identity and legal working status of each employee employed by the nonresidential construction contractor. A subcontractor shall use e-verify to confirm the identity and legal working status of each employee employed by the subcontractor. A labor broker shall use e-verify to confirm the identity and legal working status of each employee employed by the labor broker.

(B) A nonresidential construction contractor, subcontractor, or labor broker shall keep a record of the verification required by division (A) of this section for three years after the date of hire or one year after the date the employee's employment is terminated, whichever is later.

(C) A nonresidential construction contractor, subcontractor, or labor broker is not required to comply with division (A) of this section if both of the following apply:

(1) The nonresidential construction contractor, subcontractor, or labor broker has previously verified an employee's employment eligibility using e-verify.

(2) The employer is not required to verify or reverify the employee's eligibility to work under section 101(a)(1) of the federal "Immigration Reform and Control Act of 1986," 8 U.S.C. 1324a(b).

Last updated January 28, 2026 at 4:33 PM
