Source: https://codes.ohio.gov/ohio-revised-code/section-3739.05
Scraped: 2026-07-02T20:00:44+00:00

# Section 3739.05 - Manufacturer to retain copies of test reports.

**Effective:** April 7, 2009

**Latest Legislation:** House Bill 500 - 127th General Assembly

(A) Each manufacturer shall maintain copies of the reports of all tests conducted on all cigarettes offered for sale in this state for a period of three years after a test is concluded, and shall make copies of these reports available to the state fire marshal and the attorney general upon receipt of a written request from the state fire marshal or attorney general.

(B) No manufacturer shall fail to make these copies available to the state fire marshal or attorney general within sixty days after receiving such a request from the state fire marshal or the attorney general.
