Source: https://codes.ohio.gov/ohio-revised-code/section-4741.49
Scraped: 2026-07-02T20:07:23+00:00

# Section 4741.49 - Reporting Lyme disease test results.

**Effective:** September 15, 2014

**Latest Legislation:** House Bill 483 - 130th General Assembly

(A) A person holding a license, limited license, or temporary permit to practice veterinary medicine who orders a test for the presence of Lyme disease in an animal under the person's care may report to the department of health any test result indicating the presence of the disease.

(B) The director of health may adopt rules regarding the submission of reports described in this section. If rules are adopted, the rules shall be adopted in accordance with Chapter 119. of the Revised Code.
