Source: https://codes.ohio.gov/ohio-revised-code/section-5751.052
Scraped: 2026-07-02T20:15:36+00:00

# Section 5751.052 - Megaproject supplier verification.

**Effective:** September 13, 2022

**Latest Legislation:** House Bill 687 - 134th General Assembly

(A) On or before the first day of October of each year in which a megaproject operator has an agreement with the tax credit authority under division (D) of section 122.17 of the Revised Code that remains in effect and has not expired or been terminated, the megaproject operator or the operator's reporting person shall certify to the tax commissioner a list of the megaproject suppliers the operator anticipates will sell tangible personal property directly to the operator in the ensuing calendar year. The list shall include the name, address, and federal identification number of each megaproject supplier. On or before the first day of the following November, the commissioner shall issue a certificate to the megaproject operator and to each megaproject supplier included in that list. The certificate shall include the name of the megaproject operator, the name of the megaproject supplier, and the certificate's issuance date.

(B) A megaproject operator or reporting person that certifies a list to the tax commissioner under division (A) of this section shall notify the commissioner of any change to that list, including additions to or subtractions from the list or changes in the name or entity type of any megaproject supplier included in the list, within a reasonable period of time after the date the megaproject operator becomes aware of the change. Within thirty days after receiving that notification, the commissioner shall determine if the entity or entities listed or changed qualify as megaproject suppliers and shall issue a revised certificate to the megaproject operator and to each affected megaproject supplier included in the revised list. The revised certificate shall include the name of the megaproject operator, the name of the megaproject supplier, the certificate's issuance date, and the date the revision becomes effective.

(C) Each megaproject operator and megaproject supplier that is issued a certificate under division (A) or (B) of this section shall maintain a copy of the certificate for four years from the date the certificate is issued.

Last updated July 6, 2022 at 9:25 AM
