Source: https://codes.ohio.gov/ohio-revised-code/section-2953.81
Scraped: 2026-07-02T19:47:08+00:00

# Section 2953.81 - Test results.

**Effective:** July 6, 2010

**Latest Legislation:** Senate Bill 77 - 128th General Assembly

If an eligible offender submits an application for DNA testing under section 2953.73 of the Revised Code and if DNA testing is performed based on that application, upon completion of the testing, all of the following apply:

(A) The court or a designee of the court shall require the state to maintain the results of the testing and to maintain and preserve both the parent sample of the biological material used and the offender sample of the biological material used. The testing authority may be designated as the person to maintain the results of the testing or to maintain and preserve some or all of the samples, or both. The results of the testing remain state's evidence. The samples shall be preserved during the entire period of time for which the offender is imprisoned or confined relative to the sentence in question, is on parole or probation relative to that sentence, is under post-release control or a community control sanction relative to that sentence, or has a duty to comply with sections 2950.04 , 2950.041 , 2950.05 , and 2950.06 of the Revised Code relative to that sentence. Additionally, if the prison term or confinement under the sentence in question expires, if the sentence in question is a sentence of death and the offender is executed, or if the parole or probation period, the period of post-release control, the community control sanction, or the duty to comply with sections 2950.04 , 2950.041 , 2950.05 , and 2950.06 of the Revised Code under the sentence in question ends, the samples shall be preserved for a reasonable period of time of not less than twenty-four months after the term or confinement expires, the offender is executed, or the parole or probation period, the period of post-release control, the community control sanction, or the duty to comply with sections 2950.04 , 2950.041 , 2950.05 , and 2950.06 of the Revised Code ends, whichever is applicable. The court shall determine the period of time that is reasonable for purposes of this division, provided that the period shall not be less than twenty-four months after the term or confinement expires, the offender is executed, or the parole or probation period, the period of post-release control, the community control sanction, or the duty to comply with sections 2950.04 , 2950.041 , 2950.05 , and 2950.06 of the Revised Code ends, whichever is applicable.

(B) The results of the testing are a public record.

(C) The court or the testing authority shall provide a copy of the results of the testing to the prosecuting attorney, the attorney general, and the subject offender.

(D) If the postconviction proceeding in question is pending at that time in a court of this state, the court of common pleas that decided the DNA application or the testing authority shall provide a copy of the results of the testing to any court of this state, and, if it is pending in a federal court, the court of common pleas that decided the DNA application or the testing authority shall provide a copy of the results of the testing to that federal court.

(E) The testing authority shall provide a copy of the results of the testing to the court of common pleas that decided the DNA application.

(F) The offender or the state may enter the results of the testing into any proceeding.
