Source: https://codes.ohio.gov/ohio-revised-code/section-3505.182
Scraped: 2026-07-02T16:42:26+00:00

# Section 3505.182 - Provisional ballot affirmation - verification.

**Effective:** March 20, 2026

**Latest Legislation:** Senate Bill 293 - 136th General Assembly

Each individual who casts a provisional ballot under section 3505.181 of the Revised Code shall execute a written affirmation. The form of the written affirmation shall be printed upon the face of the provisional ballot envelope and shall be as follows:

"Provisional Ballot Affirmation

(A) Clearly print your full name: ___________________

(B) Write your date of birth: _______________________

(C)(1) Write your current address: __________________

_____________________________________________________

(2) Have you moved without updating your voter registration?:

Yes ______ No ______

If yes, write your former address: __________________

_____________________________________________________

Failure to provide your former address will not cause your provisional ballot to be rejected.

(D)(1) You must show photo identification to the election official that includes your name and photograph and is not expired. Check the type of photo identification you provided:

______ An Ohio driver's license or state identification card or an interim identification form issued by the Bureau of Motor Vehicles. If you showed your Ohio driver's license or state identification card or an interim identification form, write your full driver's license or state identification card number: ________________________

______ A United States passport or passport card;

______ A United States military identification card, Ohio national guard identification card, or United States department of veterans affairs identification card.

(2) If you do not have photo identification because you have a religious objection to being photographed, complete an affidavit of religious objection. The precinct election official will attach it to the provisional ballot envelope.

(3) If you did not show photo identification to the election official or complete an affidavit of religious objection, you must appear at the office of the board of elections during the four days after the election and provide photo identification or complete an affidavit of religious objection for your vote to be eligible to be counted.

(4) Complete this section if you need to update your voter registration or if you need to verify the identification you used to register to vote. If you need to verify your identification and you do not provide the needed information on this form, you must provide the information to the board of elections on or before the fourth day following this election in order for your ballot to be eligible to be counted.

Write your full Ohio driver's license or state identification card number: ________________________

Write the last four digits of your Social Security number: _______________

(5) If you are casting a provisional ballot because you need to provide proof of citizenship, you must do one of the following for your ballot to be eligible to be counted:

(a) If you have already provided proof of citizenship to the Bureau of Motor Vehicles, write your full Ohio driver's license or state identification card number above.

(b) Provide proof of citizenship to the board of elections on or before the fourth day following this election.

(E) If your right to vote has been challenged, you must provide any required additional information to the board of elections on or before the fourth day following this election.

(F) Sign and date the following statement:

I solemnly swear or affirm that I am a citizen of the United States; that I will be at least 18 years of age at the time of the general election; that I have lived in this state for 30 days immediately preceding this election in which I am voting this ballot; that I am a registered voter in the precinct in which I am voting this provisional ballot; and that I am eligible to vote in the election in which I am voting this provisional ballot.

I understand that, if the information I provide on this provisional ballot affirmation is not fully completed and correct, if the board of elections determines that I am not registered to vote, a resident of this precinct, or eligible to vote in this election, or if the board of elections determines that I have already voted in this election, my provisional ballot will not be counted. I understand that, if I am not currently registered to vote or if I am not registered at my current address or under my current name, this form will serve as an application to register to vote or update my registration for future elections, as long as I provide all of the information required to register to vote or update my registration. I further understand that knowingly providing false information is a violation of law and subjects me to possible criminal prosecution.

I hereby declare, under penalty of election falsification, that the above statements are true and correct to the best of my knowledge and belief.

________________________

Signature of Voter

________________________

Date

WHOEVER COMMITS ELECTION FALSIFICATION IS GUILTY OF A FELONY OF THE FIFTH DEGREE."

In the case of an individual who is casting a provisional ballot because the individual needs to provide proof of citizenship, the election officials shall provide the individual with a copy of a list of the documents that qualify as proof of citizenship.

In addition to any information required to be included on the written affirmation, an individual casting a provisional ballot may provide additional information to the election official to assist the board of elections in determining the individual's eligibility to vote in that election, including the date and location at which the individual registered to vote, if known.

If the individual provided all of the information required under section 3503.14 of the Revised Code to register to vote or to update the individual's registration on the provisional ballot affirmation, the board of elections shall consider the individual's provisional ballot affirmation to also serve as a notice of change of name, change of residence, or both, or as a voter registration form, as applicable, for that individual only for the purposes of future elections.

Last updated January 9, 2026 at 11:41 AM
